# COVID-19 Project

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("resources/conposcovidloc.csv")
data.head()

,Row_ID,Accurate_Episode_Date,Case_Reported_Date,Test_Reported_Date,Specimen_Date,Age_Group,Client_Gender,Case_AcquisitionInfo,Outcome1,Outbreak_Related,Reporting_PHU,Reporting_PHU_Address,Reporting_PHU_City,Reporting_PHU_Postal_Code,Reporting_PHU_Website,Reporting_PHU_Latitude,Reporting_PHU_Longitude
0,1,2020-01-22,2020-01-23,2020-01-27,2020-01-25,50s,FEMALE,Travel,Resolved,NaN,Toronto Public Health,"277 Victoria Street, 5th Floor",Toronto,M5B 1W2,www.toronto.ca/community-people/health-wellnes...,43.656591,-79.379358
1,2,2020-01-21,2020-01-23,2020-01-27,2020-01-23,50s,MALE,Travel,Resolved,NaN,Toronto Public Health,"277 Victoria Street, 5th Floor",Toronto,M5B 1W2,www.toronto.ca/community-people/health-wellnes...,43.656591,-79.379358
2,3,2020-01-24,2020-01-24,2020-02-03,2020-01-24,20s,FEMALE,Travel,Resolved,NaN,Middlesex-London Health Unit,50 King Street,London,N6A 5L7,www.healthunit.com,42.981468,-81.254016
3,4,2020-02-05,2020-02-21,2020-02-24,2020-02-22,20s,FEMALE,Travel,Resolved,NaN,Toronto Public Health,"277 Victoria Street, 5th Floor",Toronto,M5B 1W2,www.toronto.ca/community-people/health-wellnes...,43.656591,-79.379358
4,5,2020-02-16,2020-02-25,2020-02-25,2020-02-25,60s,FEMALE,Travel,Resolved,NaN,Toronto Public Health,"277 Victoria Street, 5th Floor",Toronto,M5B 1W2,www.toronto.ca/community-people/health-wellnes...,43.656591,-79.379358

In [3]:
data.describe()

             Row_ID  Reporting_PHU_Latitude  Reporting_PHU_Longitude
count  32917.000000            32917.000000             32917.000000
mean   16459.000000               43.759082               -79.473995
std     9502.463742                0.709847                 1.542416
min        1.000000               42.308796               -94.488254
25%     8230.000000               43.647471               -79.708893
50%    16459.000000               43.656591               -79.379358
75%    24688.000000               43.898605               -79.379358
max    32917.000000               49.769615               -74.736298

In [4]:
data_drop = data.drop(columns=["Row_ID", "Accurate_Episode_Date", "Test_Reported_Date", "Specimen_Date", "Outbreak_Related",
                              "Reporting_PHU_Address", "Reporting_PHU_Website"])
data_drop.head()

,Case_Reported_Date,Age_Group,Client_Gender,Case_AcquisitionInfo,Outcome1,Reporting_PHU,Reporting_PHU_City,Reporting_PHU_Postal_Code,Reporting_PHU_Latitude,Reporting_PHU_Longitude
0,2020-01-23,50s,FEMALE,Travel,Resolved,Toronto Public Health,Toronto,M5B 1W2,43.656591,-79.379358
1,2020-01-23,50s,MALE,Travel,Resolved,Toronto Public Health,Toronto,M5B 1W2,43.656591,-79.379358
2,2020-01-24,20s,FEMALE,Travel,Resolved,Middlesex-London Health Unit,London,N6A 5L7,42.981468,-81.254016
3,2020-02-21,20s,FEMALE,Travel,Resolved,Toronto Public Health,Toronto,M5B 1W2,43.656591,-79.379358
4,2020-02-25,60s,FEMALE,Travel,Resolved,Toronto Public Health,Toronto,M5B 1W2,43.656591,-79.379358

In [7]:
data_rename = data_drop.rename(columns={"Case_Reported_Date": "Case Reported Date", "Age_Group": "Age",
                                      "Client_Gender": "Gender", "Case_AcquisitionInfo": "Virus Acquired",
                                     "Outcome1": "Outcome", "Reporting_PHU": "Hospital", "Reporting_PHU_City": "City",
                                     "Reporting_PHU_Postal_Code": "Hospital Postal Code",
                                      "Reporting_PHU_Latitude": "Hospital Latitude",
                                      "Reporting_PHU_Longitude": "Hospital Longitude"})
data_rename.head()

,Case Reported Date,Age,Gender,Virus Acquired,Outcome,Hospital,City,Hospital Postal Code,Hospital Latitude,Hospital Longitude
0,2020-01-23,50s,FEMALE,Travel,Resolved,Toronto Public Health,Toronto,M5B 1W2,43.656591,-79.379358
1,2020-01-23,50s,MALE,Travel,Resolved,Toronto Public Health,Toronto,M5B 1W2,43.656591,-79.379358
2,2020-01-24,20s,FEMALE,Travel,Resolved,Middlesex-London Health Unit,London,N6A 5L7,42.981468,-81.254016
3,2020-02-21,20s,FEMALE,Travel,Resolved,Toronto Public Health,Toronto,M5B 1W2,43.656591,-79.379358
4,2020-02-25,60s,FEMALE,Travel,Resolved,Toronto Public Health,Toronto,M5B 1W2,43.656591,-79.379358